.entry-container{
  background: rgb(86,171,47);
  background: linear-gradient(135deg, rgba(86,171,47,1) 0%, rgba(168,224,99,1) 100%);
  width: 100%;
  height: 300px;
}

.entry-image-container{
  height: 100%;
  width: 50%;
  text-align: left;
  float: left;
}

.entry-image {
  height: 100%;
  width: 100%;
}

.entry-description-container {
  height: 100%;
  width: 50%;
  text-align: center;
  float: right;
}

.entry-title {
  margin-top: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: black;
}

.button-container {
  margin-top: 20px;
}

.entry-description{
  height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 25px;
  text-align: justify;
  margin-bottom: 10px;
}

.entry-button {
  margin-left: 10px;
}

.iframe-demo{
  -ms-zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}

@media (max-width: 992px) {
  .entry-container{
    height: 600px;
  }

  .entry-image-container{
    width: 100%;
    height: 300px;
    float: left;
  }

  .entry-description-container {
    width: 100%;
    height: 300px;
    float: left;
  }

}