$margin-sides: 50px;

.nav-buttons {
  font-size: 1.5rem;
}

.buttons-container {
  margin-right: $margin-sides;
}

.brand-name-text {
  font-size: 1.5rem;
}

.branding {
  margin-left: $margin-sides;
}