$margin-sides: 50px;

.navbar-element {
  height: 68px;
  padding: 8px 0;
}

.nav-buttons {
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
}

.buttons-container {
  margin-right: $margin-sides;
}

.brand-name-text {
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
}

.branding {
  margin-left: $margin-sides;
}