.footer {
  width: 100%;
  background: #011024;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
}

.footer-container {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

.social-distance {
  margin-right: 1em;
}

.signature {
  font-size: 0.8em;
  background: #01070f;
}